Source: ubuntudde-dde
Section: metapackages
Priority: extra
Maintainer: Arun Kumar Pariyar <expertaruncorp@gmail.com>
Build-Depends: debhelper-compat (=13)
Standards-Version: 4.5.0
Homepage: https://github.com/UbuntuDDE/ubuntudde-dde

Package: ubuntudde-dde
Architecture: all
Depends: dde-account-faces,
         dde-api,
         dde-calendar,
         dde-control-center,
         dde-clipboard,
         dde-desktop,
         dde-device-formatter,
         dde-dock,
         dde-file-manager,
         dde-kwin,
         dde-launcher,
         dde-qt5integration,
         dde-session-shell,
         dde-session-ui,
         deepin-desktop-base,
         deepin-gtk-theme,
         deepin-icon-theme,
         deepin-shortcut-viewer,
         deepin-screensaver,
         deepin-sound-theme,
         deepin-wallpapers,
         eject,
         fonts-noto,
         fonts-noto-color-emoji,
         startdde,
         ubuntudde-icon-theme,
         ubuntudde-default-settings,
         dde-qt5xcb-plugin,
         deepin-compressor,
         ${misc:Depends}
Conflicts: deepin-desktop-environment-desktop,
           deepin-desktop-environment-dock,
           deepin-desktop-environment-launcher
Description: Deepin Desktop Environment for Ubuntu DDE
 This is a meta package depends DDE (Deepin Desktop Environment).
 .
 You can safety remove it after installed.
