Source: ubuntudde-dde
Section: metapackages
Priority: extra
Maintainer: Arun Kumar Pariyar <expertaruncorp@gmail.com>
Build-Depends: debhelper-compat (=13)
Standards-Version: 4.5.0
Homepage: https://github.com/UbuntuDDE/ubuntudde-dde

Package: ubuntudde-dde
Architecture: all
Depends: ${misc:Depends},
 deepin-desktop-base,
 dde-desktop,
 dde-api,
 dde-dock,
 dde-launcher,
 dde-control-center,
 deepin-kwin,
 startdde,
 dde-session-ui,
 dde-file-manager,
 dde-qt5integration,
 eject,
 deepin-wallpapers,
 fonts-noto,
 fonts-noto-color-emoji,
 deepin-gtk-theme,
 deepin-sound-theme,
 deepin-icon-theme,
 deepin-default-settings,
 dde-kwin,
Conflicts:
 deepin-desktop-environment-desktop,
 deepin-desktop-environment-dock,
 deepin-desktop-environment-launcher
Description: Deepin Desktop Environment for Ubuntu DDE
 This is a meta package depends DDE (Deepin Desktop Environment).
 .
 You can safety remove it after installed.
